body {
  font-family: 'Lato', sans-serif;
}

body, html, #root {
  height: 100%;
}

@mixin fontBrother() {
  font-family: brother-1816, sans-serif;
}

.Stark {
  min-height: 100%;
  transition: all ease 0.2s;
  position: relative;
  div, h1, h2, h3, h4, h5, p, a, footer {
    color: black;
  }
  nav {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 100px;
    padding-bottom: 45px;
    ul {
      text-align: center;
      padding: 0;
    }
  }
  .onepage {
    min-height: 100%;
    width: 100%;
    &-logo {
      margin-top: 150px;
      width: 150px;
    }
  }
  nav {
    ul {
      li {
        display: inline-block;
        padding: 10px 20px;
        font-size: 10px;
        a {
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }
  .top-left-border {
    position: absolute;
    left: 50px;
    top: 60px;

    &:before, &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: black;
    }
    &:after {
      width: 70px;
      height: 1px;
    }
    &:before {
      width: 1px;
      height: 40px;
    }
  }
  .top-right-border {
    position: absolute;
    right: 180px;
    top: 60px;
    &:before, &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: black;
    }
    &:after {
      width: 120px;
      height: 1px;
    }
  }
  footer {
    font-size: 10px;
    position: absolute;
    transform: rotateZ(-90deg);
    bottom: 155px;
    left: 20px;
    &:after {
      content: '';
      position: absolute;
      width: 100px;
      height: 1px;
      top: 50%;
      right: -120px;
      background: black;
    }
  }
  .not-found {
    text-decoration: none;
    h1 {
      @include fontBrother();
      font-weight: 800;
      font-size: 200px;
    }
  }

  @media(max-width: 800px) {
    .not-found {
      h1 {
        font-size: 80px;
      }
    }
    nav {
      padding-left: 90px;
      padding-bottom: 25px;
      //width: 100%;
    }
    .top-left-border {
      top: 55px;
      &:before {
        height: 30px;
      }
      &:after {
        width: 55px;
      }
    }
    .top-right-border {
      top: 55px;
      right: 130px;
      &:after {
        width: 80px;
      }
    }
    footer {
      &:after {
        width: 80px;
        right: -100px;
      }
    }
  }

  @media(max-width: 600px) {
    .top-left-border {
      left: 15px;
      top: 20px;
      &:before {
        height: 25px;
      }
      &:after {
        width: 50px;
      }
    }
    .top-right-border {
      right: 95px;
      top: 20px;
      &:after {
        width: 70px;
      }
    }
    .onepage {
      &-logo {
        margin-top: 50px;
      }
    }
    nav {
      padding: 0;
      width: 100%;
    }
    footer {
      left: -15px;
      bottom: 80px;
      &:after {
        width: 65px;
        right: -80px;
      }
    }
  }
}


.darktheme {
  .Stark {
    background: black;
    div, h1, h2, h3, h4, h5, p, a, footer {
      color: white;
    }

    .top-left-border, .top-right-border {
      &:before, &:after {
        background: white;
      }
    }

    footer {
      &:after {
        background: white;
      }
    }
  }
}