.group {
  max-width: 550px;
  flex-grow: 1;
  padding-bottom: 100px;
  h2 {
    font-size: 20px;
    line-height: 45px;
    font-weight: 300;
    text-align: justify;
  }
  &-logo {
    width: 150px;
    margin-bottom: 30px;
  }
  &-offices {
    &__office {
      flex-basis: 30%;
      padding-top: 30px;
      &-title, &-address {
        font-size: 18px;
        line-height: 25px;
      }
      &-title {
        font-weight: 300;
        font-size: 19px;
        margin-bottom: 5px;
      }
      &-address {
        font-weight: 300;
        a {
          text-decoration: none;
        }
      }
    }
  }
  @media(max-width: 800px) {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 70px;
    h2 {
      font-size: 20px;
      line-height: 35px;
    }
    &-offices {
      flex-wrap: wrap;
      &__office {
        flex-basis: 100%;
      }
    }
  }
}