.landing {
  h1 {
    font-size: 21px;
    font-weight: 300;
    text-align: center;
  }
  &-logo {
    width: 135px;
    margin-bottom: 35px;
  }
  @media(max-width: 800px) {
    padding-left: 10px;
    padding-right: 10px;
    &-logo {
      width: 120px;
      margin-bottom: 25px;
    }
    h1 {
      font-size: 22px;
      padding: 0 20px;
    }
  }
}