.manifesto {
  max-width: 550px;
  flex-grow: 1;
  padding-bottom: 100px;
  h2 {
    font-size: 20px;
    line-height: 45px;
    font-weight: 300;
    text-align: justify;
  }
  &-logo {
    width: 150px;
    margin-bottom: 30px;
  }
  &-signature {
    max-width: 150px;
    margin-left: auto;
  }
  @media(max-width: 800px) {
    padding-left: 40px;
    padding-right: 40px;
    h2 {
      font-size: 20px;
      line-height: 40px;
    }
  }
}